<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ERP-SERVER;Initial Catalog=iTradeCRM;Persist Security Info=True;User ID=dbadmin;Password=olf+_123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EDMEntities" connectionString="metadata=res://*/ModelEDM.csdl|res://*/ModelEDM.ssdl|res://*/ModelEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ERP-SERVER;Initial Catalog=iTradeEDM;User ID=dbadmin;Password=olf+_123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EMEntities" connectionString="metadata=res://*/ModelEM.csdl|res://*/ModelEM.ssdl|res://*/ModelEM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ERP-SERVER;Initial Catalog=iTradeEM;Persist Security Info=True;User ID=dbadmin;Password=olf+_123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>