<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
     <!--Com100配置信息-->
     <add key="EDM_APIKEY" value="3285adea93064b5bbb2a77f952683cf0" />
     <!--MailGun配置信息-->    
	   <add key="Gun_Key" value="key-8h0--34fvwi-t66o9sk1kzp6m8kbk762" />
      <!--统计邮件群发统计时请求服务器的间隔时间-->
      <add key="GroupEmail_Statistic_Timespan" value="5000" />
      <!--是否开启邮件的发件人和客户同步-->
      <add key="IsOpenSynEmailCust" value="true" />
      <!--展会发送功能开关-->
      <add key="ExhibitionSentSwitch" value="on" /> <!--on: 开启   off: 关闭-->
      <!--是否允许创建多个展会-->
      <add key="AllowMultipleExhibition" value="off" /><!--on: 开启   off: 关闭-->

      <!--RestSharp配置信息开始-->
     <!--(开发) Rest URL：https://sandboxapp.cloopen.com:8883  (生产) Rest URL： https://app.cloopen.com:8883-->
     <!--服务器地址-->
     <add key="server_address" value="app.cloopen.com" />
     <!--服务器端口-->
     <add key="server_port" value="8883" />
     <!--主账号-->
     <add key="main_account" value="0000000041962d8c014198ec91a50077" />
     <!--主账号令牌-->
     <add key="main_token" value="d535fbb107274239a41567e0d80f6311" />
     <!--子账号--> 
     <add key="sub_account" value="aaf98fda41963160014198ed2f7b004a" />
     <!--子账号令牌-->
     <add key="sub_token" value="6682926cf6db473385df1f2f79f70b3e" />
     <!--VoIP账号-->
     <add key="voip_account" value="80573500000001" />
     <!--VoIP密码-->
     <add key="voip_password" value="egluu7w4" />
     <!--应用ID  (test)aaf98fda41963160014198ed2ea70049   (生产)0000000041962d8c014198f318de0078 -->
     <add key="app_id" value="0000000041962d8c014198f318de0078" />
     <!--RestSharp配置信息结束-->

    <!--0:验证IP,SessionID;1:不验证IP,SessionID-->
    <add key="CookiesValidate" value="1" />


    </appSettings>
    <connectionStrings>
        <add name="ConnStr" connectionString="server=erp-server;uid=dbadmin;pwd=olf+_123456;database=iTradeCRM;Max Pool Size=100;Min Pool Size=2 " providerName="System.Data.SqlClient " />
        <add name="ConnStrEDM" connectionString="server=erp-server;uid=dbadmin;pwd=olf+_123456;database=iTradeEDM;Max Pool Size=100;Min Pool Size=2 " providerName="System.Data.SqlClient " />
		    <add name="ConnStrEM" connectionString="server=erp-server;uid=dbadmin;pwd=olf+_123456;database=iTradeEM;Max Pool Size=100;Min Pool Size=2 " providerName="System.Data.SqlClient " />
        <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ERP-SERVER;Initial Catalog=iTradeCRM;Persist Security Info=True;User ID=dbadmin;Password=olf+_123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		    <add name="EMEntities" connectionString="metadata=res://*/ModelEM.csdl|res://*/ModelEM.ssdl|res://*/ModelEM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ERP-SERVER;Initial Catalog=iTradeEM;Persist Security Info=True;User ID=dbadmin;Password=olf+_123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        <add name="EDMEntities" connectionString="metadata=res://*/ModelEDM.csdl|res://*/ModelEDM.ssdl|res://*/ModelEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ERP-SERVER;Initial Catalog=iTradeEDM;Persist Security Info=True;User ID=dbadmin;Password=olf+_123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    </connectionStrings>
    <system.web>
        <httpRuntime executionTimeout="3600" maxRequestLength="1048576" requestValidationMode="2.0" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>

                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </assemblies>
        </compilation>
        <customErrors mode="Off" />
        <identity impersonate="true" />
        <authentication mode="Forms">
            <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
            </forms>
        </authentication>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <httpHandlers>
            <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" />
        </httpHandlers>


    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="users/login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
